@import play.mvc.Http.Request;
@import tables.T_User;

@(items:List[UserItem])

@views.html.main("bbs") {
<form method="get" action="search">
  <input type="text" name="searchWord">
  <input type="submit" value="検索">
</form>
  <div class ="contrainer">
    <a href = "@routes.UserController.init(0)">新規作成</a>
    <br>
    <table>
      <tr>
        <th>名前</th>
        <th>学年</th>
        <th>身長</th>
        <th>好きな食べ物</th>
        <th>誕生日</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
      @for(items<-items){

        <tr>
          <td>@items.name</td>
          <td>@items.schoolYear</td>
          <td>@items.height</td>
          <td>@items.likeFood</td>
          <td>@items.birthDay</td>
          <td>@items.createdAt</td>
          <td>@items.updatedAt</td>
          <td><a href ="@routes.UserController.init(items.id)">編集</a></td>
        </tr>
      }
    </table>
    <button onclick = "location.href='@routes.Application.index'">一覧</button>
  </div>
}
